body{
    font-family: 'Young Serif', serif;
}

main > img{
    width: 100%;
    height: auto;
    border: 0;
}

/* main>.frame1 {
    font-family: 'Young Serif', serif;
    background-image: url('../assets/others/index-frames/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}

main>.frame2 {
    font-family: 'Young Serif', serif;
    background-image: url('../assets/others/index-frames/2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}

main>.frame3 {
    font-family: 'Young Serif', serif;
    background-image: url('../assets/others/index-frames/3.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}

main>.frame4 {
    font-family: 'Young Serif', serif;
    background-image: url('../assets/others/index-frames/4.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}

main>.frame5 {
    font-family: 'Young Serif', serif;
    background-image: url('../assets/others/index-frames/5.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}

main>.frame6 {
    font-family: 'Young Serif', serif;
    background-image: url('../assets/others/index-frames/6.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}

main>.frame7 {
    font-family: 'Young Serif', serif;
    background-image: url('../assets/others/index-frames/7.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
} */