body {
    font-family: 'Young Serif', serif;
}

main>img {
    width: 100%;
    height: auto;
    border: 0;
}

/* main>.frame {
    font-family: 'Young Serif', serif;
    background-image: url('../assets/others/index-frames/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 45rem;
    width: 100%;
}